body {
    font-family: 'Poppins', serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav_links {
    display: flex;
    flex-direction: column;
}
.nav_item a:visited {
    color: #0000EE;
}
div .card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.card > header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.card {
    flex-basis: 450px;
}
.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
    
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#logo {
    animation: mymove 5s;
}
@keyframes mymove {
    from { width: 25px; opacity: 0;}
    to { width: 475px; opacity: 1; }
}

@media screen and (min-width: 900px){
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .nav_links {
        justify-content: flex-end;
        flex-direction: row;
    }
    .card {
        flex-basis: 250px;
    }
    body > header {
        position: sticky;
        top: 0; 
    }
}

@media screen and (prefers-reduced-motion: reduce){
    #logo {
        animation-duration: 0s;
    }
  }
@media print {
    body {
        background-image: none;
        font-family:Arial, Helvetica, sans-serif;
    }
    nav {
        
        width: 100%;
    }
    .nav_links {
        justify-content: space-around;
        flex-direction: row;
    }
    .pricing {
        align-items: end;
        align-self: flex-end;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .card {
        border: 2px solid #45ADDD;
        flex-wrap: nowrap;
        flex-basis: 325px;
    }
    #gallery, .gallery {
        display: none;
    }
    div > ul > li:nth-child(2n)::after {
        content: '\1F44D';
    }
}